body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}


.logoSide{
  background-color: rgb(238, 145, 238);
  
}

.logoSide img{
  padding: 10px;
}

.sidebar{
  background-color: rgb(238, 145, 238);
  border: 0.5px solid rgb(255, 238, 238);
  height: 600px;
}

.sidebarOptions{
  background-color: rgb(238, 145, 238);
  height: 50px;
  padding: 6px;
  /* margin: 8px; */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.sidebarOptions:hover{
  border: 0.8px solid white;
  margin: 7px;
  color: white;
  transition: all 0.5s linear;
  background-color: rgb(211, 138, 245);
  cursor: pointer;
}

.mainPage{
  height: 800px;
  padding: 0px !important;
  margin: 0px !important;
}

.divContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.sidebarOptions a{
  color: black;
  text-decoration: none;
}

.sidebarOptions a:hover{
  color: white;
}

footer{
  background-color: blueviolet;
  color: white;
  text-align: center;
  padding: 14px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
}




footer img.navImg{
  position: fixed;
  right: 40px;
  bottom: 8px;
}

.textMid{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboardOpt{
  background-color: rgb(247, 120, 247);
  border: 0.5px solid grey ;
  height: 100px;
  width: 25%;
  cursor:pointer;
  border-radius: 6px;
  margin: 30px;
}

.dashboardOpt:hover{
  box-shadow: grey 1px 2px 8px;
}



.dashboardHeading{
  background-color: rgb(255, 192, 252);
  border: 0.7px solid rgb(248, 209, 246);
  height: 80px;
  margin: 30px;
}

Button.uploadBtn{
  color: white;
  background-color: rgb(217, 108, 245);
  position: relative;
  bottom: 20px;
  left: 80%;
}

Button.uploadBtn2{
  color: white;
  background-color: rgb(217, 108, 245);
  position: relative;
  left: 53%;
  top: 70px;
}

.uploadBtn:hover{
  background-color: rgb(243, 137, 229);
}

.libraryContent{
  margin: 30px;
}

.libraryContent div{
  margin-bottom: 20px;
  /* padding: 10px; */
}

.uploadStatusLibrary,.myMaterialLibrary{
  background-color: rgb(204, 204, 204);
  padding:2px 5px 9px 9px;
}

h1{
  margin: 8px;
  padding: 10px;
}

.selectors{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.uploadform{
  background-color: aquamarine;
}